:not(:defined) > * {
  display: none;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

model-viewer {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

.Hotspot {
  background: #fff;
  border-radius: 32px;
  border: 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  cursor: pointer;
  height: 12px;
  padding: 8px;
  position: relative;
  transition: opacity 0.3s;
  width: 12px;
}

.Hotspot:not([data-visible]) {
  background: transparent;
  border: 4px solid #fff;
  box-shadow: none;
  height: 12px;
  pointer-events: none;
  width: 12px;
}

.Hotspot:focus {
  border: 4px solid rgb(0, 128, 200);
  height: 12px;
  outline: none;
  width: 12px;
}

.Hotspot > * {
  opacity: 1;
  transform: translateY(-50%);
}

.HotspotAnnotation{
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  color: rgba(0, 0, 0, 0.8);
  display: block;
  font-family: Futura, Helvetica Neue, sans-serif;
  font-size: 12px;
  font-weight: 700;
  left: calc(100% + 1em);
  max-width: 128px;
  overflow-wrap: break-word;
  padding: 0.5em 1em;
  position: absolute;
  top: 50%;
  width: max-content;
}

.Hotspot:not([data-visible]) > * {
  opacity: 0;
  pointer-events: none;
  transform: translateY(calc(-50% + 4px));
  transition: transform 0.3s, opacity 0.3s;
}


.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button {
  background-image: url(ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color:#4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from { transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg); }
  to   { transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg); }
}

@keyframes elongate {
  from { transform: translateX(100px); }
  to   { transform: translateX(-100px); }
}

model-viewer > #ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"] > #ar-prompt {
  display: block;
}

model-viewer > #ar-prompt > img {
  animation: circle 4s linear infinite;
}


/* Buttons */
#levelButtons {
  /* max-width: 950px; */
  /* margin: 75px auto;  */
  margin: 20vh auto; 
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  }

  .button-container {
    position: relative;
    text-align: center;
    padding: 0;
    border-radius:50%; 
    overflow:hidden; 
  }

  .button-container A:before{  
    content: '';
    display: inline-block;
    height: 48%; 
  }

  .button-container a {
    transition: all 1s ease-out;
    background: rgba(88, 88, 88, 0.7);
    /* background: transparent; */
    /* border: 2px pink solid; */
     border-radius:50%; vertical-align:middle;
    padding:5%; 
    color: #FFFFFF;
    position:absolute;
    font-size: 1.125em; 
    font-weight: 700; 
    top: 0;
    left:0;
    right:0;
    bottom:0;
    /* width:40%; */
    display:inline-block;
    text-decoration: none;
    text-transform:uppercase;
  }
  
  .button-container A:hover {
    /* background: none;
    border: none;  */
    opacity:0.5;
    cursor: pointer;
  }
  .button-container img{
    width:30%;
    height:auto;
    display:block
  }
  
  /*Columns*/
.one_fourth {
  display: flex;
  position: relative;
  /* margin-right: 4%; */
  float: left;
  min-height: 1px;
  height: auto !important;
  margin: 1%;
  width: 20%;
  }

  .custom-btn {
    width: 130px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
  }

  .btn-2 {
    background: rgb(148 74 106);
    border: none;
    
  }
  .btn-2:before {
    height: 0%;
    width: 2px;
  }
  .btn-2:hover {
    box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                -4px -4px 6px 0 rgba(116, 125, 136, .5), 
      inset -4px -4px 6px 0 rgba(255,255,255,.2),
      inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
  }

  .logo {
    width: 5%; margin: 2px;align-self: center;
  }
  
  /* For Phones and Tablets */
  @media only screen and (max-width: 600px) {
    .button-container img{
      width:50%;
      height:auto;
      display:block
    }
    .custom-btn {
      width: auto;
      height: 40px;
      color: #fff;
      border-radius: 5px;
      padding: 10px 25px;
      font-family: 'Lato', sans-serif;
      font-weight: 500;
      background: transparent;
      cursor: pointer;
      transition: all 0.3s ease;
      position: relative;
      display: inline-block;
       box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
       7px 7px 20px 0px rgba(0,0,0,.1),
       4px 4px 5px 0px rgba(0,0,0,.1);
      outline: none;
    }

    .btn-2 {
      background: rgb(148 74 106);
      border: none;
    }
    .btn-2:before {
      height: 0%;
      width: 2px;
    }
    .btn-2:hover {
      box-shadow:  4px 4px 6px 0 rgba(255,255,255,.5),
                  -4px -4px 6px 0 rgba(116, 125, 136, .5), 
        inset -4px -4px 6px 0 rgba(255,255,255,.2),
        inset 4px 4px 6px 0 rgba(0, 0, 0, .4);
    }

    .btn-nav {
      margin: 2px;
    }

    .logo {
      width: 20%;
      margin: 2px;
      align-self: center;
    }
    .one_fourth {
      display: flex;
      position: relative;
      /* margin-right: 4%; */
      float: left;
      min-height: 1px;
      height: auto !important;
      margin: 1%;
      width: 26%;
      }
  }


  /* Tooltip */
  /* button .ductTooltip{
    background:#1d1d1d;
    color:#fff;
    padding:7px;
    border-radius:5px;
    position:absolute;
    min-width:50px;
    max-width:300px;
    display:none;
  }
  button .ductTooltip:before{
    content:'';
    height:3px;
    width:0;
    border:7px solid transparent;
    border-bottom-color:#1d1d1d;
    position:absolute;
    top:-16px;
    left:14px;
  }
  button .ductTooltip a{
    color:#1884BC;
    text-decoration:none;
  } */

  
