/* Main content */
body {
  margin: 0;
  padding: 0;
  background-color: #f5f5dc;
}

/* Make all headings the same font and all other text has same font */
h1,h2,h3,h4,h5,h6{
  font-family: 'Oswald' !important;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 50px;
}

p{
  text-align:left;
}

div {
  margin: auto;
}

form{
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding-top: 20px;
}

.row1{
  display: flex;
  flex-direction: row;
}

button{
  border-radius: 20px;
  border:none;
  background-color: #00ffff;
}

.next{
  background-color: #90EE90;
}

.back{
  background-color: #cd5c5c;
}

.middle{
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #00ffff;
  border-radius: 75px;
}

.center{
  align-content: center;
  text-align: center;
}

.container2{
  background-color: #00ffff;
  border-radius: 75px;
}

ol.d{
  list-style-type: lower-alpha;
}

.galbladder{
  height: 100px;
  width: 100px;
}
